<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Hola qué tal
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Ke ase, programa o ke ase</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    <h1>Ke ase tu, programa o ke ase?</h1>
  </ion-content>
  

  <app-explore-container name="Esto es una página"></app-explore-container>
</ion-content>
